@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

html{
  --text-black:black;
  --text-blue:blue;
  --text-grey:rgb(94, 91, 91);
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-weight: bold;
  font-size: 15px;
  line-height: 100%;
}

h4 {
  font-weight: bold;
  font-size: 10px;
  line-height: 100%;
}

/*Header*/
.sec_logo_menu{
  display: flex;
  justify-content: space-between;
}
.menu{
  height: 60px;
}
.div_menu{
  margin-right: 20px;
}
.div_logo{
  padding-left: 40px;
}
ul{
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  height: 60px;
  display: flex;
  align-items: center;
}
a{
  text-decoration: none;
}
li{
  width: 150px;
  height: 60px;
  display: inline;
  text-decoration: none;
  margin-right: 5px;
}
li> a{
  color: var(--text-black);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
li> a:hover{
  color: var(--text-blue);
  border-top: 1px solid var(--text-blue)!important;
  display: flex;
  align-items: center;
}
.div_logo> p{
  color: var(--text-grey);
}

.sec_filtre{
  padding-left: 40px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.search_mob ,.search_desk{
  height: 35px;
  text-align: 35px;
  font-size: 15px;
  border: none;
  font-weight: bold;
}
.search_mob{
  width: 35px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.search_desk{
  background-color: #1515e3;
  color: white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 0 10px;
  border: none;
}

.sear_input{
  height: 30px;
  border-color: #eeeeee7d;
}
.sec_filtre>div{
  border: 2px solid #eeeeee7d;;
  border-radius: 20px;
  margin-left: 25px;
}
.sec_filtre> div >button{
  border-radius: 100px;
  width: 35px;
  height: 35px;
  border: none;
}
.sec_filtre> div >a{
  padding-left: 5px;
  padding-right: 20px;
  font-weight: bold;
  color: var(--text-black);
}

.sec_filtre> div >button>i{
  color: var(--text-blue);
}
/*mobile search
.search_mob ,.search_desk{
  height: 35px;
  text-align: 35px;
  font-size: 15px;
  background-color: #1515e3;
  color: white;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}*/

/*Main*/
main {
  padding: 2%;
}

#PremiersBlocs {
  display: flex;
  justify-content: space-between;
}

#blocGuitares {
  width: 74%;
  height: 500px;
  background-color: lightgrey;
  border-radius: 20px;
  padding: 1%;
}

#blocPopulaires {
  width: 20%;
  height: 500px;
  background-color: lightgrey;
  border-radius: 20px;
  padding: 1%;
}
#blocPopulaires> h3{
  margin-bottom: 35px;
  font-size: 14px;
}

#blocStudio {
  width: 100%;
  height: 500px;
}

#listeGuitares > div {
  width: 30%;
}

#listeGuitares > div > img {
  width: 100px;
}

#listeGuitares {
  display: flex;
  flex-wrap: wrap;
  object-fit: cover;
  background-color: lime;
}

#listePopulaires > div {
  display: block;
  height: 110px;
  border: 2px solid white;
  background: white;
  border-radius: 20px;
  box-shadow: 5px 7px 9px rgb(136 136 136);
  margin-bottom: 20px;
}
#listePopulaires>div> h4{
  letter-spacing: 1px;
  font-size: 13px;
  margin-left: 35px;
  margin-top: 12px;
  margin-bottom: 3px;
}
#listePopulaires > div > p {
  margin-left: 35px;
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 13px;
  letter-spacing: 1px;
}
#listePopulaires > div > img {
  height: 90px;
  float: left;
  margin-top: 9px;
}



#listePopulaires {
  object-fit: cover;
  
}

#listeStudio {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  object-fit: cover;
  background-color: lime;
}

@media screen and (max-width: 600px) {
  #guitares {
    width: 100%;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    padding: 1%;
  }
  #populaire {
   display: none;
  }
}

/*Footer*/
footer {
    background-color: lightgrey;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 20%;
}

.lignesFooter {
  font-size: 12px;
  line-height: 200%;
}

@media screen and (max-width: 600px) {
   footer {
    display: inline-block;
    width: 100%;
   }
   footer section {
    margin-left: 7%;
   }
}