@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

body {
  margin-right: 0;
  margin-left: 0;
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-weight: bold;
  font-size: 15px;
  line-height: 100%;
}

/*Header*/
html{
  --text-black:black;
  --text-blue:blue;

}
.sec_logo_menu{
  display: flex;
  justify-content: space-between;

}
.div_menu{
  margin-right: 20px;
}
.div_logo{
  padding-left: 40px;
}
ul{
  padding-left: 0px;
}
li{
  display: inline;
  text-decoration: none;
  margin-right: 5px;
}
a{
  text-decoration: none;
  color: var(--text-black);
}
a:hover{
  color: var(--text-blue);
}

/*Main*/
main {
  padding: 2%;
}

#PremiersBlocs {
  display: flex;
  justify-content: space-between;
}

#guitares {
  width: 74%;
  height: 400px;
  background-color: lightgrey;
  border-radius: 20px;
  padding: 1%;
}

#populaire {
  width: 20%;
  height: 400px;
  background-color: lightgrey;
  border-radius: 20px;
  padding: 1%;
}

#materielStudio {
  width: 100%;
  height: 300px;
}

/*Footer*/
footer {
    background-color: lightgrey;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 20%;
}

.lignesFooter {
  font-size: 12px;
  line-height: 200%;
}

@media screen and (max-width: 600px) {

   footer {
    background-color: lime;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
   }

}