@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

html{
  --text-black:black;
  --text-blue:blue;
  --text-grey:rgb(94, 91, 91);
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  margin-bottom: 35px;
}

h4 {
  font-weight: bold;
  font-size: 13px;
}

/*Header*/
.sec_logo_menu{
  display: flex;
  justify-content: space-between;
}
.menu{
  height: 60px;
}
.div_menu{
  margin-right: 20px;
}
.div_logo{
  padding-left: 40px;
}
ul{
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  height: 60px;
  display: flex;
  align-items: center;
}
a{
  text-decoration: none;
}
li{
  width: 150px;
  height: 60px;
  display: inline;
  text-decoration: none;
  margin-right: 5px;
}
li> a{
  color: var(--text-black);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
li> a:hover{
  color: var(--text-blue);
  border-top: 1px solid var(--text-blue);
  display: flex;
  align-items: center;
}
.sec_info{
  padding-left: 40px;
}
.sec_info> p{
  color: var(--text-grey);
}

.sec_filtre{
  padding-left: 40px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.search_mob ,.search_desk{
  height: 35px;
  text-align: 35px;
  font-size: 15px;
  border: none;
  font-weight: bold;
}
.search_mob{
  width: 35px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.search_desk{
  background-color: #1515e3;
  color: white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 0 10px;
  border: none;
}

.sear_input{
  height: 30px;
  border-color: #eeeeee7d;
}
.sec_filtre>div{
  border: 2px solid #eeeeee7d;;
  border-radius: 20px;
  margin-left: 25px;
  display: flex;
  align-items: center;
}
.sec_filtre> div >button{
  border-radius: 100px;
  width: 35px;
  height: 35px;
  border: none;
}
.sec_filtre> div >a{
  padding-left: 5px;
  padding-right: 20px;
  font-weight: bold;
  color: var(--text-black);
}

.sec_filtre> div >button>i{
  color: var(--text-blue);
}


/*Main*/
main {
  padding: 2%;
}

#PremiersBlocs {
  display: flex;
  justify-content: space-between;
}

#blocGuitares {
  width: 74%;
  height: 500px;
  background-color: lightgrey;
  border-radius: 20px;
  padding: 1%;
}
#blocGuitares> h3 {
  margin-left: 5px;
}
#blocGuitares> h4 {
  margin-left: 15px;
}


#blocPopulaires {
  width: 20%;
  height: 500px;
  background-color: lightgrey;
  border-radius: 20px;
  padding: 1%;
}
#blocPopulaires> h3{
  margin-bottom: 35px;
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
}
#blocPopulaires> h3>i{
  margin-left: 20px;
}

#blocStudio {
  width: 100%;
  height: 500px;
}

#listeGuitares > div {
  width: 30%;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 3%;
  box-shadow: rgb(0 0 0 / 15%) 6px 4px 2.6px;
}
#listeGuitares > div > img {
  width: 200px;
  display: block;
  margin-left: 10px;
  margin-top: 3%;
}
#listeGuitares > div > p {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 100%;
  margin-left: 15px;
}
#listeGuitares > div > h4 {
  letter-spacing: 1px;
  font-size: 13px;
  margin-left: 15px;
  margin-top: 12px;
  margin-bottom: 3px;
}
#listeGuitares {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  object-fit: cover;
}

#listePopulaires > div {
  display: block;
  height: 110px;
  border: 2px solid white;
  background: white;
  border-radius: 20px;
  box-shadow: rgb(0 0 0 / 15%) 6px 4px 2.6px;
  margin-bottom: 20px;
}
#listePopulaires>div> h4{
  letter-spacing: 1px;
  font-size: 13px;
  margin-left: 35px;
  margin-top: 12px;
  margin-bottom: 3px;
}
#listePopulaires > div > p {
  margin-left: 35px;
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 13px;
  letter-spacing: 1px;
}
#listePopulaires > div > img {
  height: 90px;
  float: left;
  margin-top: 9px;
}
#listePopulaires {
  object-fit: cover;
}

#listeStudio {
  display: flex;
  justify-content: space-around;
  gap: 2%;
  object-fit: cover;
  background-color: lime;
}
#listeStudio > div {
  width: 30%;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 3%;
  box-shadow: rgba(0, 0, 0, 0.15) 4px 4px 2.6px;
}
#listeStudio > div > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
}
#listeStudio > div > h4{
  letter-spacing: 1px;
  font-size: 13px;
  margin-left: 20px;
  margin-top: 12px;
  margin-bottom: 12px;
}

@media screen and (max-width: 600px) {
  #blocGuitares {
    width: 100%;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    padding: 1%;
  }
  #listeGuitares {
    display: inline-block;
    width: 100%;
  }
  #listeGuitares > div {
    width: 100%;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 3%;
    box-shadow: rgba(0, 0, 0, 0.1) 4px 4px 12px;
  }

  #blocPopulaires {
   display: none;
  }
}

/*Footer*/
footer {
    background-color: lightgrey;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 20%;
}

.lignesFooter {
  font-size: 12px;
  line-height: 200%;
}

@media screen and (max-width: 720px) {
   footer {
    display: inline-block;
    width: 100%;
   }
   footer section {
    margin-left: 7%;
   }
   #guitares {
    width: 100%;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    padding: 1%;
  }
  #populaire {
   display: none;
  }
  .sec_logo_menu{
    display: block;
  }
  .div_logo{
    text-align: center;
  }
  .div_menu{
    margin-right: 0px;
  }
  .menu{
    display: flex;
    justify-content: center;
  }
  .menu> ul> li> a:hover{
    color: var(--text-blue);
    border-bottom: 1px solid var(--text-blue);
    display: flex;
    border-top: none;
    align-items: center;
  }
}

@media screen and (max-width: 1024px) {

.search_desk{
  display: none;
}

.search_mob ,.search_desk{
  height: 37px;
  text-align: 35px;
  font-size: 15px;
  background-color: #1515e3;
  color: white;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}
}
@media screen and (min-width: 1024px) {
  .search_desk{
    display: inline;
  }

}
